.Meaning {
  margin-bottom: 25px;
}

.Meaning h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin: 10px 0 8px 0;
  color: black;
}

.Meaning p {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 6px 0;
}

.Meaning em {
  font-size: 13px;
  margin: 4px 0 10px 0;
  line-height: 15px;
  color: #666666;
}

@media (max-width: 576px) {
  .Meaning h5 {
    font-size: 18px;
  }

  .Meaning p,
  .Meaning em {
    font-size: 13px;
  }
}
